[2016-11-28 16:34] trishankkarthik opened #2 "Repository and supplier tools"
We should provide repository tools as well as supplier tools (analogous to developer tools in TUF), so that it is as easy as possible for OEMs and suppliers respectively to generate signed Uptane metadata :)

[2016-11-28 17:28] awwad commented on #2
It's a good thought. Let's chat about this later this week and figure out what in terms of repo tools, if anything, should be provided that is separate from the core Primary and Secondary modules. Things can probably be factored out if there's need.

Also, until the big release, issues will probably continue to live [here](https://github.com/awwad/uptane/issues).

[2016-11-28 17:34] trishankkarthik commented on #2
Understood, but I think we should make available issues here, so that the public can more easily send us feedback without wondering where to do it :)

[2017-01-19 16:35] trishankkarthik opened #3 "Demo: Make it easier to run repositories and time server"
Interested parties have asked us to make it easier to run the image and director repositories, as well as the time server. There are a few options:

1. Provide a [Dockerfile](https://docs.docker.com/engine/reference/builder/) that allows people to easily setup and run the repositories and server on their own private infrastructure.

2. Provide publicly-accessible repositories and server that we ho

[2017-01-23 23:00] trishankkarthik opened #4 "How to connect to remote demo Primary and services or run your own"
Interested parties have asked us to make it easier to simulate a primary. This primary should be able to run on most desktop computers, instead of a custom setup such as Raspberry Pi. This is related to issue #3.

[2017-01-23 23:08] awwad commented on #4
The existing demonstration Primary does not need to be run on a Raspberry Pi. The [instructions here](https://github.com/uptane/uptane/blob/develop/README.md#uptane) allow anyone to install Uptane and run a Primary.

This is not to suggest that it cannot be made easier, but it does mean that the actual request has to be a bit more specific if there is a change to be made.

[2017-01-23 23:12] awwad opened #5 "Implement Release Counters and Hardware Identifiers"
_From @awwad on January 12, 2017 23:56_

Currently, rollback protection is via TUF and protects metadata. It could be useful to prevent a Secondary client from installing any image with a lower version number than what is currently installed. Pull in the email threads related to this later.

_Copied from original issue: awwad/uptane#28_

Section 3.4.1 and Table 3.4a of the [Uptane Implementation S

[2017-01-23 23:12] awwad opened #6 "Switch from use of canonicaljson to tuf-based canonicalizer"
_From @awwad on January 10, 2017 17:14_

Recent changes from PR #23 added a dependency on library canonicaljson which is unnecessary. TUF code itself has what is required for canonicalizing JSON. When time allows, remove this dependency (search out canonicaljson in the code and replace its use with calls to relevant TUF code).

_Copied from original issue: awwad/uptane#27_

[2017-01-23 23:12] awwad opened #7 "Rename nonces to tokens"
_From @awwad on January 5, 2017 15:56_

Secondaries send a token (previously called a nonce) to the Primary to be bundled together with other tokens from other Secondaries and sent to the Timeserver to be signed in a package alongside the Timeserver's time and returned to the Primary and Secondaries.

That will be renamed from nonce to token, because the term "nonce" may be misleading as it is use

[2017-01-23 23:12] awwad opened #8 "Add Primary validation of Timeserver attestations"
_From @awwad on December 15, 2016 16:39_

If the Primary discards any Timeserver attestations that do not have all nonces the Primary sent and expects back or that have any extra nonces, this makes certain replay attacks harder: one could not as readily spam nonces in a single Timeserver attestation and then reuse that later.

Consider also making attestations specific to the vehicle by including

[2017-01-23 23:13] awwad opened #9 "Migrate to use of securesystemslib"
_From @awwad on December 2, 2016 20:6_

(or whatever we call the replacement for ssl_crypto and ssl_commons).

Currently, tuf.formats is used in Uptane for fairly neutral things like PATH_SCHEMA or ANYKEY_SCHEMA, along with the various tuf-related formats. TUF is splitting off these formats and other common functionality into a separate submodule. We'll use that as a dependency or a submodule here

[2017-01-23 23:13] awwad opened #10 "Switch terminology from "OEM Repo" to "Image Repo""
_From @awwad on December 1, 2016 21:55_

It seems that there is a consensus that "Supplier Repository" should be the term to refer to the main repository of metadata and targets. There may be a few mentions in the reference implementation that should be changed, along with the many references in the demonstration code.

_Copied from original issue: awwad/uptane#17_

[2017-01-23 23:13] awwad opened #11 "Update to newest TUF version"
_From @awwad on December 1, 2016 21:18_

The depended-on fork of TUF (awwad/tuf@pinning) is slightly out of date. The TAP 4 modifications and a few other minor tweaks to TUF that Uptane depends on need to be merged into theupdateframework/tuf, and Uptane needs to switch to using TUF proper rather than a fork of TUF.

_Copied from original issue: awwad/uptane#16_

[2017-01-23 23:13] awwad opened #12 "Consider ensuring that vehicle identifier and ECU identifier are extensible"
_From @awwad on November 28, 2016 17:36_

Some users (OEMs/suppliers) may want to use more elaborate data structures for the vehicle identifier and ECU identifier. Consider trying out expanding these schemas, making adjustments to reference implementation code to make that easier, and documenting the process in code.

_Copied from original issue: awwad/uptane#15_

[2017-01-23 23:13] awwad opened #13 "Demo (only) Vulnerabilities: Secondaries susceptible to endless data attack from compromised Primary"
_From @awwad on November 28, 2016 17:15_

This is probably not a problem, but it merited noting.

There's no underlying vulnerability to this in the reference implementation; it's just the demo code. The code for the demo Secondary pulls files from the demo Primary via xmlrpc and doesn't limit the size of the transfers. Since the demo Primary has already used an intelligent means of transferring i

[2017-01-23 23:13] awwad opened #14 "Refactor primary.py and secondary.py to pull out common elements"
_From @awwad on November 15, 2016 18:10_

Since these will be implemented separately and possibly very differently by OEMs, I'm slightly nervous about having a common module that they both employ, but otherwise, we're just dealing with lots of copied code, which is problematic.

Examples:
* Completely identical:
  * Metadata validation in:
    - `primary.get_validated_target_info`
    - `secondary

[2017-01-23 23:14] awwad opened #15 "Demo / Reference Implementation Boundary"
_From @awwad on November 15, 2016 17:27_

The two have been disambiguated for the Primary. Some work remains here for the Secondary, the Timeserver, and the Director.

_Copied from original issue: awwad/uptane#10_

[2017-01-23 23:14] awwad opened #16 "Consider adding support for multiple keys for each role in the Director repo"
_From @awwad on December 2, 2016 20:48_

In the reference implementation for Uptane, the Director repository (repositories, really) is somewhat more constrained than the Supplier Repository. In initializing uptane.services.director.Director, four keys are expected for the __init__ method, one for each top-level role (root, timestamp, snapshot, targets). Should I make this initialization slightly m

[2017-01-23 23:14] awwad opened #17 "InventoryDB rewrite"
_From @awwad on November 2, 2016 14:35_

InventoryDB (uptane/services/inventorydb.py) is a simple module in the reference implementation that stores information about vehicles and ECUs. The only module in the reference implementation that should interact with inventorydb is director (uptane/services/director.py).

What it currently does is to store simple JSON files containing the manifest data. T

[2017-01-23 23:14] awwad commented on #17
I've merged in a rewritten version of the PR provided. Next, I'm going to make some more tweaks to allow the data to be stored persistently again.

[2017-01-23 23:14] awwad opened #18 "Demo (only) Vulnerabilities - Secondary pretending to be a Primary"
_From @awwad on November 1, 2016 22:9_

1. The demo does not currently handle classifying Primary and Secondary ECU keys, which means that there is some small amount of spoofing possible against the simple-minded demo's Director. This is not a weakness that exists in the reference implementation, but it would be tidy to handle this in the demo.

_Copied from original issue: awwad/uptane#4_

[2017-01-23 23:14] awwad opened #19 "Switch from JSON to ASN.1 for Partial Verification Secondaries"
_From @awwad on November 1, 2016 22:7_

Code currently employs JSON storage and basic Python dictionaries. All communication to Partial Verification Secondaries for the demo should eventually be in BER-encoded ASN.1.

The reference implementation itself may also use BER in the future....

Existing encoders must be integrated, cleaned up, and tested.

_Copied from original issue: awwad/uptane#3_

[2017-01-23 23:14] awwad opened #20 "Unit testing"
_From @awwad on November 1, 2016 22:4_

Go back over the various modules and add formal unit tests.

Unit tests for just about everything (excluding everything in demo/) still need to be added. The Primary module (uptane/services/primary.py) already has tests written, though I will need to add some more and update them.

_Copied from original issue: awwad/uptane#2_

[2017-01-23 23:15] awwad opened #21 "Switch terminology from VIN to a generic vehicle identifier"
_From @awwad on October 13, 2016 20:26_

Since we don't actually care if it's a VIN, as long as it's a unique device ID for the vehicle, we should not use "VIN" specifically. Some people will read it and assume that a VIN is strictly necessary, when all we need is a unique identifier for the vehicle or even the Primary.

_Copied from original issue: awwad/uptane#1_

[2017-01-23 23:15] trishankkarthik commented on #10
Following consensus from the last workshop, it's "image repository" now.

On 23 January 2017 at 18:13, Sebastien Awwad <notifications@github.com>
wrote:

[2017-01-23 23:19] awwad commented on #3
This depends a bit on how people would like to use it. While the second may seem easier for everyone else, there are communications particulars that may make it more of a nuisance. I suspect that 2 will be useful for the demo website, allowing surface familiarity, and 1 will be useful for anything else (trying out your own deployment) - since you'll probably want to determine how your clients comm

[2017-01-23 23:20] #17 closed, assigned to awwad

[2017-01-23 23:21] #15 closed, assigned to awwad

[2017-01-24 00:36] JustinCappos commented on #4
I think the issue was mostly raised so that a developer with a secondary
could test it without setting up a primary.  How would this work in your
current setup?

On Mon, Jan 23, 2017 at 6:08 PM, Sebastien Awwad <notifications@github.com>
wrote:

[2017-01-24 18:55] awwad commented on #4
There was some discussion both of a remote demo Primary hosted by us and also of other people running the demo Primary on their own hardware. Both are already options. I'll lay out how to do each of three options briefly. I think this probably suffices for what was discussed, but let me know if anything seems missing.

## Local, Single System
To run any or all of the components of the demo (includ

[2017-01-25 13:32] trishankkarthik commented on #8
On 23 January 2017 at 18:12, Sebastien Awwad <notifications@github.com>
wrote:

Agreed, this is a good idea, and it's in the Impl Spec too.

One reason I can see for doing this is in preventing an MitM attacker from
replaying a response sent earlier by the time server to another vehicle
which sent the same set of tokens. However, this should be highly unlikely,
especially as the number of ECUs inc

[2017-01-25 13:34] trishankkarthik commented on #13
On 23 January 2017 at 18:13, Sebastien Awwad <notifications@github.com>
wrote:

Good idea! :)

[2017-01-25 13:38] trishankkarthik commented on #14
On 23 January 2017 at 18:13, Sebastien Awwad <notifications@github.com>
wrote:

Yeah, I've noticed this aversion. I can see how OOP can make security
worse, but in this case, I think the benefits outweigh the risks, as long
as it's designed properly. At least from my own experience, OOP has helped
me to maintain and extend code much more easily. Just my two cents.

[2017-01-25 13:39] trishankkarthik commented on #16
On 23 January 2017 at 18:14, Sebastien Awwad <notifications@github.com>
wrote:

Although nothing should prevent this, it's not the most pressing issue, I
agree.

[2017-01-25 13:40] trishankkarthik commented on #21
On 23 January 2017 at 18:15, Sebastien Awwad <notifications@github.com>
wrote:

Agreed!

[2017-01-25 14:55] JustinCappos commented on #14
So, I don't dislike OOP, but I think it is overused.  I think there are a
lot of natural cases involving data representation where it is useful.
Many times when one would be passing dictionaries around and keeping a
table of module state (e.g., with descriptors), OOP is a more natural
pattern.

However, I think that it is too frequently used in cases where a module is
more natural.  Both modules a

[2017-01-25 15:14] JustinCappos commented on #8
On Mon, Jan 23, 2017 at 6:12 PM, Sebastien Awwad <notifications@github.com>
wrote:

I agree with this.  I do not see a reason we wouldn't want this.

If the attestations are not repeated, this isn't needed (and there are
problems overall with replay if at least some of them are not).  If these
are random , the chance of a collision is so negligible that the extra
bandwidth to transmit the VIN isn'

[2017-02-21 09:21] heartsucker opened #22 "Demo contains invalid code"
From the demo in the `README`

[code]

[2017-02-21 09:24] awwad commented on #22
I'll take a look, thanks. There have been some changes, and it's possible the demo instructions are out of sync.

[2017-02-21 09:27] heartsucker commented on #22
Yeah, it actually goes a wee bit further too.

[code]

There's no mention of how to register a VIN with the director.

[2017-02-21 09:40] awwad commented on #22
I'm fixing the instructions now. Normally, in the demo, VINs and ECU Serials are registered with the Director when they're "created" (by starting the demo Primary and/or demo Secondary code). You can, however, register ECUs and vehicles directly from the demo Director:

[dd.director_service_instance.register_ecu_serial(ecu_serial, ecu_key, vin, is_primary)](https://github.com/uptane/uptane/blob/de

[2017-02-21 09:59] awwad commented on #22
Instructions fixed. Thanks for tinkering!

[2017-02-22 13:58] heartsucker opened #23 "Version of TUF referenced as dependency is out of date"
There's a roughly 15k line diff between the `pinning_dirty_writes` branch and current `master`. Is there a reason that this specific version of TUF is being used? Additionally, is there a plan to remove this pinning and just use the stable `tuf` pypi package?

[2017-02-22 20:05] awwad commented on #23
Primarily, this is because Uptane needed some functionality that was not yet in TUF and which we expected to be added to TUF. [TAP 4](https://github.com/theupdateframework/taps/blob/master/tap4.md) is the primary addition. Uptane's fork of TUF includes an early implementation of [TAP 4](https://github.com/theupdateframework/taps/blob/master/tap4.md), as well as [TAP 3](https://github.com/theupdate

[2017-03-09 15:26] awwad commented on #22
I'm going to close this, but if I've missed something somewhere, please let me know.

[2017-03-09 15:26] #22 closed, assigned to nobody

[2017-03-09 15:27] awwad commented on #11
See also #23

[2017-03-09 16:08] awwad commented on #8
Two things:

@trishankkarthik, can you add this validation of the full set of tokens in the Timeserver attestation by the Primary to the Implementation Specification? (I don't think it was part of the design previously: I don't see it in any of the documents.)

@JustinCappos As far as I can tell, you're right about not gaining much from adding a vehicle identifier to the Timeserver attestation tha

[2017-03-09 16:18] awwad commented on #23
See also #11. Since this issue is more detailed and from an outside source, I'll close the older issue.

For clarity:
The depended-on fork of TUF (now awwad/tuf@pinning_w_ber) has diverged from TUF proper. As TAP 4 has now been re-implemented in TUF proper, Uptane needs to migrate to using the main TUF repository. This will be fairly involved, as the two TAP 4 implementations have slightly differe

[2017-03-09 16:18] #11 closed, assigned to nobody

[2017-03-09 16:18] awwad commented on #11
Closed: replaced by more detailed issue #23.

[2017-03-10 17:03] awwad opened #24 "Demo: Run cleanup routine after running the demo scripts"
_From @vladimir-v-diaz on March 8, 2017 20:11_

Adjust the `demo_director` and `demo_oem_repo` modules to do cleanup of the Popen'd processes when exited so that the user doesn't have to manually call `kill_server()`.

Temporary files should also be deleted after running the demo scripts.  For example, the following temp files remain on disk after running the demo:

[code]

_Copied from original i

[2017-03-10 17:08] awwad commented on #9
Ultimately part of #23.

[2017-03-10 17:09] awwad opened #25 "Demo: Library required to play sounds?"
_From @vladimir-v-diaz on March 8, 2017 17:46_

Should we instruct users to install a library to play sounds?  I am running Ubuntu and got the following error when the demo code tried to play a sound clip:

[code]

_Copied from original issue: awwad/uptane#37_

[2017-03-10 17:09] awwad commented on #25
Sure. The sound code works on both an OS X laptop and a Raspberry Pi running Raspbian, so I'm somewhat surprised that your Ubuntu install doesn't just work. I haven't looked closely at the dependencies for demo flair.

It would be good to check that out and add a note along the lines of to-play-sound-install-this, or maybe just if-you-don't-have-sound-in-the-demo-install-this.

[2017-03-10 17:09] awwad opened #26 "Demo: Demonstrate protection against known Uptane attacks"
_From @vladimir-v-diaz on March 7, 2017 20:58_

Uptane's reference implementation should provide scripts, or tests, that verify protection against the attacks covered in the [Uptane Design Overview](https://docs.google.com/document/d/1pBK--40BCg_ofww4GES0weYFB6tZRedAjUy6PJ4Rgzk/edit?usp=sharing).

Section 7.3 of the design overview document lists the following attacks:

[code]

In addition, the at

[2017-03-10 17:09] awwad commented on #26
_From @vladimir-v-diaz on March 7, 2017 20:58_

An idea we've entertained in the past is providing a tool that can be used for conformance testing with the specification.  More information on conformance testing and how it can be done in TUF/Uptane is available in a pending TAP (TUF Augmentation Proposal):
https://github.com/theupdateframework/taps/blob/tap7/tap7.md

[2017-03-10 17:09] awwad commented on #26
_From @vladimir-v-diaz on March 7, 2017 21:0_

@awwad has provided setup notes on an attack we can show for the Uptane demo:

[2017-03-10 17:09] awwad commented on #26
Not _an_ attack - that was a sketch of multiple attacks from some emails Justin and I had exchanged.

The attacks in that list are basically:

1. Rollback attack w/ compromised Director
2. Arbitrary package attack w/ compromised Image Repository
3. Arbitrary package attack w/ compromised Image Repository and compromised Director (successful attack)

Recovery steps are included for a few of those.

[2017-03-10 17:09] awwad commented on #26
_From @vladimir-v-diaz on March 8, 2017 15:30_

Including another sketch provided by @awwad.

[2017-03-10 17:10] awwad opened #27 "Should `simplejson` be listed as a dependency?"
_From @vladimir-v-diaz on March 8, 2017 17:29_

I was following the instructions for the primary client (https://github.com/awwad/uptane#window-4-the-primary-clients) and encountered the following exception:

[code]

_Copied from original issue: awwad/uptane#36_

[2017-03-10 17:10] awwad commented on #27
_From @vladimir-v-diaz on March 8, 2017 17:34_

`frozendict` also appears to be a required dependency (after I manually installed `simplejson`).

[code]

I can successfully run the primary client after installing `simplejson` and `frozendict`.  Not sure if this is an issue with my pip / setuptools installation...

[2017-03-10 17:10] awwad commented on #27
I'm not sure. It might be your environment.

I'm a bit surprised that the `import simplejson` directive isn't couched in a try/except with `import json` as the fallback. simplejson has been in the std lib as json for a long while now, and json is a perfectly suitable fallback. :P

Anyway, oddly, I've never run into either error nor have I manually installed frozendict or simplejson in my virtual e

[2017-03-10 17:11] awwad opened #28 "Installation instructions in README"
_From @vladimir-v-diaz on March 6, 2017 20:39_

The README instructs the user to `sudo apt-get python3-dev`, but the provided command for virtualenv uses python 2.

_Copied from original issue: awwad/uptane#30_

[2017-03-10 17:11] awwad commented on #28
The instruction includes both the headers for Python2 and Python3:
sudo apt-get install build-essential libssl-dev libffi-dev **python-dev python3-dev**

At the moment, the services run in Python2 so that the ASN.1 conversion works, and the web frontend runs in Python3 due to its own dependency issues. Once the rest of the ASN.1 code has been revised, it should run in Python3, too.

[2017-03-10 17:11] awwad commented on #28
_From @vladimir-v-diaz on March 6, 2017 20:47_

I see.  Perhaps the second paragraph of your reply can be added somewhere in the README so that others are aware.

[2017-03-10 17:11] awwad commented on #28
I'll add something to the README. The web frontend doesn't figure anywhere in the readme or the repo. It's external for now. So the Python2 and Python3 instructions are there mostly so that if versions are switched, the installation doesn't need to change.

[2017-03-10 18:18] awwad opened #29 "Demo: Automatically kill http server process"
Starting the demo Director (demo_director) or demo Image Repository (demo_oem_repo) Popens an http simple server process. Currently, users are instructed to kill this background process before exiting by running do.kill_server() or dd.kill_server() (respectively) before running exit().

Automate this so that when the Python shell exits, these are killed without user intervention.

[2017-03-10 18:22] awwad opened #30 "Python3 support for ASN.1 encoding code"
Currently, several modules in uptane/encoding/ in this repo and tuf/encoding (in [Uptane's fork of TUF](https://github.com/awwad/tuf/tree/pinning_w_ber)) work in Python2 and break in Python3. I suspect the problem is limited to:
- `uptane/encoding/timeserver_asn1_coder.py`
- `uptane/encoding/vehicle_manifest_asn1_coder.py`  <-- Note that this is not in use yet.
- `uptane/encoding/ecu_manifest_asn1

[2017-03-10 20:36] awwad opened #31 "Add continuous integration"
Start with the configuration we wrote [here for the Seattle project](https://github.com/SeattleTestbed/continuous-integration), using Travis and/or AppVeyor.

Tests function in a similar way to TUF's, using unittest, though we need much more unit testing (#20) for the repo.

[2017-03-13 16:54] awwad opened #32 "Demo: Possible additional attacks detected in ECU manifest"
### Background
Secondary ECUs report, in their ECU Manifests, various data to the vehicle's Primary ECU and ultimately to the Director. This includes what is installed on the ECU, what the ECU's official clock reports (generally expected to be timeserver-validated), and what attacks have been detected by the Secondary ECU since its last ECU Manifest was sent.

### Task
Review the demo Secondary co

[2017-03-15 21:24] cameronmott opened #33 "Consider the use case of a PV Secondary that is updated by a dealer using a laptop that is running as a Primary"
In the previous workshop, this functionality was indicated as a helpful milestone, for a dealer to be able to provide updates from a Primary running on a laptop (or desktop running in a vehicle bay, the essential concept is that the Primary doesn't have to be embedded, nor does it have to be assembled with the vehicle).  When considering the architecture, I noted a few concerns, please comment if

[2017-03-15 21:41] awwad opened #34 "Support end-to-end encryption"
It is part of the design for the Director to optionally distribute per-ECU encrypted images. These images are encrypted by the Director using the ECU's key (which may be symmetric or asymmetric, but the reference implementation and demo will employ asymmetric keys only).

1. The most straightforwardly delegable part of this task is the addition of code to perform the encryption in Director code (u

[2017-03-15 22:24] JustinCappos commented on #33
Let's certainly discuss before closing the issue.

How the manifest is handled is really up to the implementers of Uptane.  If
they want to clear it each time, use an append only log, etc., it is up to
them.  To us, it is just bytes.  Perhaps this is under specifying things,
but I would rather be under than over prescriptive in this case.

However, I do not believe it makes sense for the Primary t

[2017-03-16 15:24] awwad commented on #19
This is complete.

[2017-03-16 15:24] #19 closed, assigned to awwad

[2017-03-16 15:56] awwad opened #35 "Refactor ASN.1 code in TUF and Uptane"
### Background
There are separate modules for each kind of metadata we use in TUF and Uptane that translate the typical Python dictionary we use (defined in tuf/formats.py and uptane/formats.py) into an ASN.1 representation held in a Python dictionary.

Those modules live here:
- tuf/encoding/*_coder.py
- and uptane/encoding/*_coder.py

These modules are used by tuf/asn1_codec.py and uptane/asn1_c

[2017-03-16 16:38] awwad opened #36 "Add function to make key updates easy"
### Background
Revoking, adding, etc. a key in Uptane is essentially the same as it is in TUF, using the TUF repository objects that exist in the reference implementation.

### Task
There should, however, be code in the reference implementation (or at least the demo) that does this in a clear, readable way, so as to illustrate this to implementers.

### Details
Example of how this is done now:
Sup

[2017-03-16 19:52] trishankkarthik commented on #33
I agree. Is the thinking that the director should include metadata about what manifest it last received from each ECU?

Okay, let me think about this, and get back to you...

[2017-03-17 04:16] awwad commented on #30
Nearly there after [this commit in Uptane](https://github.com/uptane/uptane/commit/50c712d98b56b7498a32b0f031fd1d903fc812fd) and [this commit in TUF](https://github.com/awwad/tuf/commit/db4d5106b64de338d677136bdfb05850cfb3a439).

Test using `python tests/test_der_encoder.py`, from the root directory of the repo. (That should currently succeed on all 6 tests for Python2, and succeed on all but the

[2017-03-17 14:33] awwad commented on #8
I appear to have already implemented this in uptane/clients/primary.py:validate_time_attestation(). Thanks, me-from-the-past!

We still need the every-token validation added to the Implementation Specification, though, I think.

[2017-03-17 14:59] awwad opened #37 "Consider support for arbitrary TUF custom fileinfo"
TUF supports any (JSON-compatible) key-value pairing in the element 'custom' of fileinfo entries in metadata. Because ASN.1 definitions are very explicit about structure and type, we haven't supported this feature in Uptane beyond what is mandated in the specification.

Take this targets file from the Director (in JSON format for readability) as an example:

[code]

`ecu_serial` in custom metadata

[2017-03-17 15:41] awwad opened #38 "Fix test_primary.py"
Some of this seems to have been broken by ASN.1/DER code.

Adjust the tests to work with ASN.1/DER format. While we're at it, expand the tests.

[2017-03-17 16:34] awwad commented on #24
It's important to be careful not to clean up other processes' temp files. For example, if you're running the demo Primary, and that exits, it should not delete the demo Secondary's temp files.

(So, for example, you wouldn't want to put all temporary files for all components into a single parent temp directory and just delete that after anything finishes.)

@vladimir-v-diaz suggested considering s

[2017-03-17 16:43] baloian commented on #29
please have a look PR #39

[2017-03-17 17:52] awwad commented on #30
@lukpueh helped spot the issue. This has been fixed by [this commit](https://github.com/awwad/tuf/commit/eed6d481c8ecbb36871feba2d2a3abbbff5d0b42) to Uptane's TUF fork.

The six tests in uptane/tests/test_der_encoder.py are working now.

[2017-03-17 20:11] lukpueh commented on #27
@vladimir-v-diaz: I don't know what happened in your development environment but if you installed `canonicaljson` (which requires `simplejson` and `frozendict`, cf. your error messages) using the usual tools (i.e. `pip`) you would have those packages installed automatically as dependencies (cf. `canonicaljson`'s [`setup.py`](https://github.com/matrix-org/python-canonicaljson/blob/master/setup.py#L

[2017-03-17 20:13] awwad commented on #27
I think Vlad is probably suggesting that we flatten the dependencies. If simplejson is a dependency (and it kinda is, it looks like), and if it is possible to not have it (that's the part I'm somewhat more confused about), then I guess it should be in dev-requirements.txt. No, @vladimir-v-diaz?

[2017-03-17 20:17] vladimir-v-diaz commented on #27
It might just be a corrupted installation.  I will try to reproduce the issue with the latest version of pip and setuptools, and if everything works as expected we can close this issue.

However, it seems safer to just list all the expected dependencies and their versions.

[2017-03-17 20:22] baloian commented on #24
@awwad I implemented this, but I need to test it and in order to test I am waiting for you to fix the Tuf related bug. Do you want me to do PR now or after testing ?

[2017-03-17 21:42] lukpueh commented on #27
Let's wrap up our (@vladimir-v-diaz, @awwad and I) discussion about pro and contra of flattening the requirements file, i.e. explicitly listing dependencies and sub-dependencies with explicit version numbers.

__Pros:__
- Handle resolvable requirement conflicts
E.g: Dependency `A` has a dependency `C>=1` and dependency `B` has a dependency `C<=3`.
- Prevent unexpected behavior
E.g.: Dependency `A`

[2017-03-17 21:43] lukpueh commented on #27
I vote for closing this as non-issue.

[2017-03-17 21:44] awwad commented on #30
Bah, it's breaking the demo. I need to work through this some more.

[2017-03-17 21:45] vladimir-v-diaz commented on #27
I think these articles on package management with pip and pip-tools are helpful:

https://www.kennethreitz.org/essays/a-better-pip-workflow
http://nvie.com/posts/better-package-management/
http://nvie.com/posts/pin-your-packages/

The general idea is to have two pip requirements files (requirements.txt and requirements-to-freeze.txt) to allow deterministic and production builds, respectively.  The

[2017-03-22 17:37] #29 closed, assigned to baloian

[2017-03-23 22:10] awwad commented on #31
Closing as complete.

[2017-03-23 22:10] #31 closed, assigned to SantiagoTorres

[2017-03-23 22:12] #30 closed, assigned to nobody

[2017-03-23 22:12] #38 closed, assigned to awwad

[2017-03-23 22:13] awwad commented on #30
Fixed now.

[2017-03-23 22:13] awwad commented on #38
Fixed now.

[2017-03-24 18:16] awwad opened #48 "Partial Verification Secondary Client in Python"
Both for the purpose of illustrating behavior for future implementers and for use in the demo, it would be useful to have not only the existing Full Verification Secondary client but also a Partial Verification Secondary client in Python. The code for some of this exists, but work remains to be done.

Currently, the Partial Verification Secondary client exists in a C implementation intended to be

[2017-03-24 18:19] awwad commented on #27
Food for thought, but while I'm conflicted about flattening, this isn't something that should generally be encountered, and I think we can probably close for now until it proves to be a problem in the future.

[2017-03-24 18:19] #27 closed, assigned to lukpueh

[2017-03-27 15:42] #25 closed, assigned to lukpueh

[2017-03-27 16:11] awwad opened #49 "Upstream DER, Full Verification Secondary to Primary, Primary to Director"
1. Allow the demo and reference implementation's full verification Secondary client to send ECU Manifests up to the Primary in ASN.1/DER ECU, for completeness and to make sure that all communications that may be on CAN are in ASN.1/DER.

2. Consider supporting ASN.1/DER for Vehicle Manifests sent from the Primary to the Director, for completeness and consistency.

[2017-03-27 16:12] awwad commented on #25
Thanks for the PR, @lukpueh. Merged, problem fixed. (:

[2017-03-27 22:07] awwad opened #51 "Demo: demo_director simple http server sometimes needs restart"
Sometimes I see errors like this in the demo or when testing against demo servers:
`Exception happened during processing of request from ('127.0.0.1', 59240)`

This is resolved by running dd.kill_server() and then dd.host(). The simple http server used for the demo Director hiccups. Restarting this with those two commands doesn't affect anything else - it's just a parallel process serving HTTP req

[2017-03-28 19:35] trishankkarthik opened #52 "Action items for next SOTA #5 workshop"
Following up on our meeting today, these are the action items for our next (SOTA 5) workshop:

- [ ] Performance benchmarks (metadata overhead over CAN)
- [ ] Results of open security review
- [ ] How should we standardize Uptane?
- [ ] Complete, visual-friendly demonstration of Uptane against security attacks

Cc: @JustinCappos

[2017-03-28 19:51] awwad opened #53 "Demo: Uploading to Image Repo: Offline signatures"
As @trishankkarthik (and, I think, @cameronmott) points out, it should be clear in the demo what the behavior of each party should look like. In particular, signing something for the Image Repo should be done with an offline key, by the trusted party directly (not through, for example, a central website that holds an online key).

One of the concerns here is that some implementers have produced co

[2017-03-28 20:12] awwad commented on #53
@JustinCappos thoughts on this in the demo?

[2017-03-29 02:16] JustinCappos commented on #53
I'm unsure.  Perhaps there could be an icon or something that you need to
click on to remind that the key has just been used.

Whatever we plan to do is low priority.

On Tue, Mar 28, 2017 at 4:12 PM, Sebastien Awwad <notifications@github.com>
wrote:

[2017-03-29 15:46] awwad opened #54 "Consider additional field in signatures noting encoding that signature is over (e.g. der or json)"
Previous to adding ASN.1/DER encoding, signable objects (general form :`{'signed': ..., 'signatures': []}`) in TUF and Uptane would always contain signatures over a canonical JSON encoding of the value of the 'signed' element.

When ASN.1/DER is used, the signature is instead over the data encoded into DER after having been converted into a pyasn1 representation matching the ASN.1 definitions (cap

[2017-03-29 18:53] awwad commented on #54
### Example:
Consider the case of a Vehicle Manifest signed over DER and provided to the Director server and so added to the InventoryDB. The VVM will show up in Uptane's typical Python dictionary format, with a 'signed' and 'signatures' field, with the 'signed' field in the friendly format of uptane.formats.VEHICLE_VERSION_MANIFEST_SCHEMA. There is no obvious way to know that the signature is ove

[2017-03-29 18:56] awwad commented on #54
### Alternatives:
1. Director checks the signature with both encodings and is happy with it if either works
2. Director could default to whatever mode it's operating in and try the other if that fails.
3. We could expand the 'method' field with suffixes or something ugly like that (`'method': 'ed25519 over DER'`)

[2017-03-29 20:07] JustinCappos commented on #54
In general, the OEM is going to have defined this.  So for the demo
implementation, it shouldn't matter what you decide to do.

I wonder if this is more of a TUF problem (if it is an issue there), than
an Uptane one?

On Wed, Mar 29, 2017 at 2:53 PM, Sebastien Awwad <notifications@github.com>
wrote:

[2017-03-29 20:11] awwad commented on #54
In the Uptane demo implementation, I've gone with alternative 0: I simply check employing the configured method, expecting the whole system to use all DER or all JSON.

Yes, I think this is more relevant for TUF if TUF chooses to support multiple encodings. It would require a TAP. (Though I might just insert it in the TAP for the first encoding we add, which I suppose will end up being ASN.1/DER.)

[2017-03-29 20:15] awwad commented on #54
(BTW, if an OEM is going to support signing over multiple slightly different encodings - which they may well find it beneficial to do with disparate components - then for their own purposes, they may end up having such a field in each signature.

But while I suppose it would be nice to demonstrate this in the code to guide them, it's still more complexity with its own tradeoff. On the first hand,

[2017-03-29 21:07] JustinCappos commented on #54
Right, but I think we need not require them to do so.  Hence I think
whatever you do in your demo is fine, but it wouldn't be in the spec.

On Wed, Mar 29, 2017 at 4:15 PM, Sebastien Awwad <notifications@github.com>
wrote:

[2017-03-30 18:41] awwad commented on #49
Addressed (WIP) in PR #50.

Code there transmits all ECU and Vehicle Manifests as ASN.1/DER (both Primary<->Secondary and Primary<->Director).

It works in Python2.

Things to do still:
- Python3. There's a subtle bug hiding somewhere that's making that not work in Python3, so I'm going to figure that out.
- There's also a circular import that I've worked around by importing inside a function, whi

[2017-04-03 15:03] awwad opened #55 "Refactor ASN.1 translators (encoding/*_asn1_coder.py) and asn1_codec.py"
Combine the main `asn1_codec` module with the `*_asn1_coder.py` modules. This is in part to resolve a circular import between `asn1_codec` and `vehicle_manifest_asn1_coder`, and in part to reduce code redundancy.

Additional tasks/goals related to this refactoring:
- the `get_asn_signed` and `get_json_signed` functions across modules will now be one function each and be renamed to something along

[2017-04-03 17:14] vladimir-v-diaz opened #56 "Multiple targets/firmware for one ECU serial"
It appears that multiple targets/firmware can be added to the same ECU serial.  For example:

[code]

Unfortunately, the secondary will only install the last firmware listed.  Uptane expects only a single firmware for each ECU.

In the demo instructions, I am calling clear_vehicle_targets() before adding any new targets to the director repository, but the code should automatically clear the vehicl

[2017-04-03 17:16] awwad commented on #56
We expect there to be no more than one target assigned to a given ECU Serial.
Behavior if there is more than one target assigned to a given ECU Serial is as follows right now:
- Reference implementation code for the Secondary ECU will validate them all,
- and the demo code for the demo Secondary ECU will then choose one of those validated files in an unpredictable way (dictionaries are unordered).

[2017-04-03 17:19] vladimir-v-diaz opened #57 "Unclear message when installing an image"
I sometimes come across the following message when installing an image on a primary client:

[code]

It's not exactly clear to new users what this means, or if it's an error.

[2017-04-03 17:21] awwad commented on #57
Yeah, I should probably kill that message.

This is from work toward use of C-based CAN code. If a particular ECU was associated in configuration with a CAN ID, and the CAN interface was available, code was supposed to try communicating across CAN. This is not used, so it should at least not spam. I'll update it.

[2017-04-06 15:20] awwad opened #58 "Ensure that ASN.1 conversion is entirely deterministic"
It is important that the conversion from the internal formats used by Uptane and TUF to ASN.1/DER be predictable because they are signed over their hash and signatures must be reliably validated.

In particular, we should spot check to make sure that things like generating lists from dictionaries always produce sorted order. (Fixing that now for ECU Manifests)

[2017-04-06 15:37] #49 closed, assigned to awwad

[2017-04-06 15:38] awwad commented on #49
Figured out the bug: was nondeterministic conversion of dictionary of hashes to list of hashes in DER conversion. Fixed.

[2017-04-06 15:39] awwad commented on #49
The circular import should still be resolved, but that's a separate issue, so I'll make note of it in Issue #55, which is the current proposed resolution for that problem anyway.

[2017-04-06 15:40] awwad commented on #55
Note that in doing this, it is important to resolve the circular import in vehicle_manifest_asn1_coder.py.

[2017-04-06 15:56] JustinCappos commented on #58
Doesn't DER ensure predictable encodings?  By definition, DER provides
exactly one way to encode an ASN.1 value.

On Thu, Apr 6, 2017 at 11:20 AM, Sebastien Awwad <notifications@github.com>
wrote:

[2017-04-06 16:05] awwad commented on #58
Yes - sorry, it occurs to me that the title and description were misleading. Clarified both.

In short: conversion to DER from the same ASN.1 is deterministic. The issue here is with conversion into ASN.1 from our internal format, which was not, in one particular way.

Here, I'm calling for a broader audit of these conversions into pyasn1 with this particular problem in mind.

[2017-04-06 18:44] awwad opened #59 "Add method to remove vehicles from Director repo"
There's a method to add vehicles, `add_new_vehicle()` in the `Director` class in the reference implementation's `director` module. There is no corresponding `remove_vehicle()` call, however. This should probably be added.

[2017-04-06 19:34] vladimir-v-diaz opened #60 "demo_timeserver.py exception"
I recently pulled in the latest changes from "develop".  It appears something was changed in create_signature() that is causing timeserver.py to fail.  The exception is provided below.

[code]

[2017-04-06 19:37] awwad commented on #60
Develop branch demo timeserver works for me. The TUF fork has been updated. Update your TUF code. (:

(Is there some way I can help automate this for people? :P)

[2017-04-06 19:41] awwad commented on #60
Confirm it's OK?

[2017-04-06 19:45] vladimir-v-diaz commented on #60
I pulled from uptane/uptane and still get the error.  It must be in your fork of TUF.

[code]

[2017-04-06 19:46] vladimir-v-diaz commented on #60
I just pulled from your fork of TUF and I got a bunch of merge conflicts.  Let me resolve them and get back to you.  Most of the conflicts are with tox.in and similar files.

[2017-04-06 20:03] vladimir-v-diaz commented on #60
Pulling from your latest fork of TUF did the trick!

[2017-04-06 20:03] #60 closed, assigned to nobody

[2017-04-06 20:27] awwad commented on #16
The ASN.1 encoders in the TUF fork also currently assume 1 key per role. This has to be fixed at some point.

[2017-04-06 20:54] awwad commented on #58
I had to make similar changes to a variety of the ASN.1 converters in Uptane and the TUF fork to resolve more of these issues, because it kept breaking things in the demo when multiple target files or hashes were present.

- [Commit handling TUF targets](https://github.com/awwad/tuf/commit/e612b6b8399125c3b416b68091812110b4fc1ea6)
- [Commit handling TUF snapshot](https://github.com/awwad/tuf/commi

[2017-04-06 21:08] vladimir-v-diaz opened #61 "Move temporary demo code in primary.py to demo_primary.py"
While working on the demo+attack doc, I came across code in the reference implementation that prints banners, which should instead exist in the demo modules.  After speaking with @awwad, he stated that these banner statements are temporary, and will eventually be moved to the demo modules (e.g., demo.demo_primary.py instead of uptane/clients/primary.py).  Opening this ticket so that it's documente

[2017-04-06 21:13] awwad commented on #61
Yeah, the reference implementation would otherwise keep running along, processing updates for other ECUs. Thanks for creating the issue.

There are two obvious ways to get the information about this back to the demo, where a banner can be printed:
- Make these updates occur in per-Secondary calls to the Primary reference implementation from the demo Primary, instead of one call for all ECUs, so th

[2017-04-06 21:41] awwad commented on #57
Resolved by a3136cab96b77dbf77155b5c1c965ed74fecce58.

[2017-04-06 21:41] #57 closed, assigned to awwad

[2017-04-10 14:59] awwad opened #62 "Demo: Rename keys"
The keys used in the demo are in demo/keys. The director repositories' targets role key is named just "director". This is potentially confusing and should be updated.

[2017-04-10 15:05] vladimir-v-diaz commented on #62
I found this confusing as well.  It wasn't explained/clear in the code why 'director' was used as the name, but I concluded it must have been for a reason because it seemed deliberate.
https://github.com/uptane/uptane/blob/a3136cab96b77dbf77155b5c1c965ed74fecce58/demo/demo_director.py#L92

[2017-04-10 22:47] awwad opened #63 "Demo: Add attack to end that uses now-revoked keys"
At the end of the new demo (merged/pushed shortly), we should add an attack that demonstrates that use of revoked keys will fail.

[2017-04-12 16:05] vladimir-v-diaz commented on #10
Should we close this issue since it was fixed in https://github.com/awwad/uptane/pull/39?

[2017-04-12 16:08] vladimir-v-diaz commented on #36
This issue was implemented in https://github.com/uptane/uptane/issues/45.  Should we close it and perhaps open a new issue for the long term goal (where functions are added to common.py)?

[2017-04-12 16:10] awwad opened #65 "General Compliance Testing for Uptane Implementations"
This is an expansion of the TUF compliance testing initiative. See [TUF TAP 7](https://github.com/theupdateframework/taps/blob/tap7/tap7.md).

1. Construct a test harness for distributing metadata to external implementations of Uptane and testing their responses.
2. Produce tests for all major Uptane behaviors necessary for compliance
  2.1. This includes all TUF compliance tests (things like gene

[2017-04-12 16:11] awwad commented on #10
Yes, true. Thanks. (:

[2017-04-12 16:11] #10 closed, assigned to nobody

[2017-04-12 16:13] awwad commented on #36
Yes, I think we should close this. I'm not sure we should implement the common.py functions now. I guess we can make an issue to ask that question, yeah.

[2017-04-12 16:13] #36 closed, assigned to vladimir-v-diaz

[2017-04-12 16:17] awwad opened #66 "Consider generic key addition/removal functions in reference implementation"
The demo has handy functions to add and remove keys from repositories and then write new metadata.

The reference implementation does not, however, so doing this outside of the demo may be burdensome. The same approach shouldn't be taken (of making assumptions about the number of keys, etc.), but what might be useful is adding two functions like this in common.py:
- common.py:add_key_to_role(repo_

[2017-04-12 16:22] awwad commented on #62
It's historical. Very early on in a proof of concept demo, I think I used just one key for the Director repository.

I'm making this issue more general, given our recent conversation. The image repo keys in the demo are named 'maintargets', 'mainroot', etc. This is also historical and probably misleading.

Keys should probably be updated to something like:

- director -> director_repo_targets
- di

[2017-04-12 16:25] vladimir-v-diaz opened #67 "Name of directory for image repository and keyfiles"
The demo uses "mainrepo" as the name for the image repository and key files.

https://github.com/uptane/uptane/blob/develop/demo/__init__.py#L26
https://github.com/uptane/uptane/tree/develop/demo/keys (e.g., mainroot.pub, maintargets, etc.)

We should consider using imagerepo, or similar, for things related to the image repository.

[2017-04-12 16:30] awwad commented on #58
I'm leaving this open after those changes for this remaining task:
- broad audit of ASN.1 conversion code for canonicalization

[2017-04-13 14:57] awwad opened #68 "Demo: Web frontend update and addition of demo attack scripts for it to call via XMLRPC"
- Ensure that the most recent version of the web frontend code (external, on git.uptane.org) works with demo code here.
- Write functions here to execute the attacks @vladimir-v-diaz wrote into the [README](https://github.com/uptane/uptane/blob/develop/README.md#3-blocking-attacks) for demo_director and demo_image_repo.
- Register those functions as XML-RPC calls.
- Call those functions appropriat

[2017-04-13 14:59] vladimir-v-diaz commented on #68
Would it be possible to move, or mirror, the web frontend code available on git.uptane.org?

[2017-04-13 15:01] awwad opened #69 "Demo: New revocation function doesn't correctly generate metadata"
Two problems with easy fixes for the new demo attack code. Just cataloging until the code comes in with Vlad's next PR.

1. Root isn't automatically marked as dirty when keys change. This may just be a property of the branch of TUF we're using. So we have to add `repo.mark_dirty(['root'])` to the demo revocation function (`revoke_and_add_new_keys_and_write_to_live`) so that a new root file is gene

[2017-04-13 15:04] awwad commented on #68
I think that would be best, personally, but this is up to @cameronmott and Allen. (I don't know his GitHub handle.)

[2017-04-13 15:07] cameronmott commented on #68
I'd expect mirroring to be a quick and easy way to do it, and possibly in the long run determine if a migration makes sense. I'll look into it.

[2017-04-13 15:22] awwad commented on #68
Pushing it here looks like this:

- On GitHub, create uptane/uptane_web_app (or whatever name)
- From a local repository checked out from https://git.uptane.org/eacain/uptane_web_app, do this:
  - git remote add mirror_on_github https://github.uptane.org/uptane/uptane_web_app (or whatever name)
  - git push mirror_on_github

To be clear, this just pushes the existing repo here. I suppose you could

[2017-04-13 16:16] awwad opened #72 "Run CI tests in both DER and JSON modes"
We need to accommodate testing in DER mode and JSON mode in our automated tests, so that it doesn't require a human to run tox once in DER mode and then switch to JSON mode and run tox again.

This may be as easy as adding a few lines to the test aggregator setting tuf.conf.METADATA_FORMAT and running tests again.

[2017-04-14 15:48] awwad opened #74 "ASN.1: Allow conversion without datatype parameter"
The arrangement for ASN.1 conversion in the TUF fork (for metadata role files) allows a conversion to or from ASN.1 without telling the converter which type of data we're working with. This is not the case for Uptane's ASN.1 converter (for manifests and attestations).

Compare these calls:
* `tuf.asn1_codec.convert_signed_der_to_dersigned_json(data)`
* `uptane.encoding.asn1_codec.convert_signed_de

[2017-04-14 15:58] trishankkarthik commented on #74
Been a while since I last looked at the ASN.1 definitions myself... but it should be possible to infer the datatype, no? I'm guessing that's what you're saying?

[2017-04-14 16:22] awwad commented on #74
Not quite, no. Maybe this will clear things up:
https://github.com/uptane/uptane/blob/develop/uptane/encoding/asn1_definitions.asn1#L130-L149

Point 1 above is e.g. that VehicleVersionManifest in the linked definition is not contained in any parent definition (e.g. something like 'UptaneMetadata') that can be instantiated by code blindly converting a string of DER bytes into (py)ASN.1.

Point 2 ab

[2017-04-14 17:47] trishankkarthik commented on #74
Ah, okay, I think I see what you're saying now. I'm sure there's an easy
fix!

[2017-04-17 15:26] awwad opened #77 "Add Frequently Asked Questions to README or linked doc"
A FAQ would give us a place to post errors people might get, with remediations.

In particular, some candidates:
- dependency issues
- errors one encounters if Uptane is updated but the TUF fork is not (will vary per update, so part of merging breaking changes should involve adding the errors you'd get with outdate TUF fork code to the FAQ)

[2017-04-17 20:29] awwad commented on #32
Now that the attacks are in the demo, go through each attack and make sure that a reasonable attack string is added when each is recognized.

[2017-04-24 17:25] awwad commented on #63
Closing as resolved after merge of #73

[2017-04-24 17:25] #63 closed, assigned to nobody

[2017-04-24 17:25] awwad commented on #28
This is now irrelevant, since Python2 and Python3 support are total.

[2017-04-24 17:25] #28 closed, assigned to nobody

[2017-04-24 17:27] awwad commented on #26
While the attack scheme described is now covered in the existing demo, there are always more attacks that can be added, including some from the list at the top of this issue.

[2017-04-25 19:52] vladimir-v-diaz opened #85 "Demo Instructions: Table of Contents is missing a subsection"
Subsection `3.7: Arbitrary Package Attack with Revoked Keys` is missing from the Table of Contents

[2017-05-04 20:15] awwad opened #90 "Uptane should not default to using two kinds of hashes in fileinfo (image info)"
Currently, Uptane operates with `tuf.conf.REPOSITORY_HASH_ALGORITHMS` set to ['sha256', 'sha512'], TUF's default, which results in fileinfo (Targets role(s) metadata about images) being generated using both types of hashes. In order to save space in messages to Secondaries in-vehicle, we should use one type of hash, especially for partial verification secondaries. Currently, [there is a related bu

[2017-05-08 20:43] awwad opened #92 "Demo: Race condition between demo Primary & Secondary yields confusing message"
The following error will sometimes appear in the demo Secondary when the Primary updates while a Secondary is still updating. (This occurs if the demo is running with looping asymmetric updates - not if update checks occur only when specifically triggered.)

`Requested and received image from Primary, but this Secondary has not validated any target info that matches the given filename. Aborting "i

[2017-05-08 20:51] awwad opened #93 "Demo: Race condition between demo Primary & Secondary in timeserver attestation validation"
The following message is produced occasionally on the demo Secondary during normal operation in the demo, if the demo Primary and Secondary are involved in continuously looping, asymmetric updates:

`Timeserver attestation from Primary does not check out: This Secondary's nonce was not found. Not updating this Secondary's time this cycle.`

This is not a particularly important event, as it can occ

[2017-05-08 20:55] awwad opened #94 "Demo: demo Secondary gets error if Primary has rejected metadata/image"
When the 0key arbitrary package attack against the Director is run, the Primary defends correctly, but then the Secondary generates the following error every time it tries updating. The Primary should report no file or something along those lines if it has no update. We shouldn't get strange errors like this:
`<Fault 1: "<class 'AssertionError'>:File '/Users/s/w/uptane_clean/temp_primary2cm8F/targ

[2017-05-10 18:47] #67 closed, assigned to nobody

[2017-05-15 20:37] awwad opened #101 "Separate "imagerepo" everywhere"
[Here](https://github.com/uptane/uptane/pull/99#discussion_r116594169), @vladimir-v-diaz suggests separating "imagerepo" everywhere in the code, because it may parse better to readers as image_repo.

[2017-05-16 15:16] awwad opened #102 "Ensure that ASN.1 converter supports multiple keys per role"
- [ ] Add testing to ensure on an ongoing basis that the use of multiple keys per role within the reference implementation (demonstration code need not worry about this) works flawlessly, in both JSON and ASN.1/DER.
- [ ] Update the ASN.1 definitions and converters so that conversion from JSON to ASN.1/DER doesn't break if there are multiple keys per role

Currently, JSON-to-ASN.1 and ASN.1-to-JSO

[2017-05-16 15:21] awwad opened #103 "Ensure that ASN.1 converter supports image repo delegations"
- [ ] Add testing to ensure on an ongoing basis that the use of delegations within the reference implementation (demonstration code need not worry about this) works flawlessly, in both JSON and ASN.1/DER.
- [ ] IF NECESSARY, update the ASN.1 definitions and converters so that conversion from JSON to ASN.1/DER doesn't break if there are delegations

JSON-to-ASN.1 and ASN.1-to-JSON conversion code l

[2017-05-16 15:22] awwad opened #104 "Meta: TODO Breakout"
Uptane TODOs:

- [ ] ASN.1 delegations    (testing first, then support if it's missing) (#103)
- [ ] ASN.1 multi-key        (testing first, then support, which is missing) (#102)
- [ ] TUF: integration testing   (basically the compliance testing code + wrapping)
- [ ] Uptane: integration testing  (basically the compliance testing code + wrapping)
- [ ] TUF: Compliance testing per se (includes harn

[2017-09-05 21:04] awwad commented on #72
Already finished and merged.

[2017-09-05 21:04] #72 closed, assigned to nobody

[2017-09-19 19:44] awwad opened #137 "Design: Prevent race conditions in Pri<->Sec communication from delivering old images that will be rejected, absent any malice"
## Issue Summary
_(This issue, more than it is an implementation issue, is a design and/or deployment issue that should be addressed in those documents; however, GitHub provides a convenient place to note and discuss this.)_

Communications between the Primary and Secondaries, if not carefully engineered, can result in race conditions with the possibility of - with no malice from any party - a Pri

[2017-09-23 17:38] JosiahOne opened #139 "cffi 1.7.0 not compatible with cryptography 1.7.2"
## Bug Report

### Problem Summary
On a Raspberry Pi, `cffi==1.7.0` is not compatible with `cryptography==1.7.2`, and `cryptography` won't install. I'm not sure why this doesn't happen on other platforms (Windows + cygwin seems to work fine).

I've attached a portion of the log showing the failure: [pipInstallError.txt](https://github.com/uptane/uptane/files/1326706/pipInstallError.txt)

### Expec

[2017-09-23 17:39] JosiahOne commented on #139
Obviously this isn't really Uptane's fault. It seems to be the fault of either cryptography or cffi, but Uptane should work around this since a Pi is an excellent platform to test on.

[2017-09-25 20:29] JosiahOne commented on #139
Looks like this happens on Ubuntu as well.

[2017-09-26 17:37] awwad opened #141 "Introductory documentation"
While the project has tons of documentation in terms of design, implementation, and deployment considerations, and some documentation about the demo, the project lacks introductory documentation explaining this repository and Uptane. That should be remedied.

A breakout on the landing page markdown doc (README) is probably the way to go, with a slightly longer intro blurb.

One of the pages linked

[2017-10-30 20:27] awwad opened #142 "Automate the console demo"
The console demo should be easier for others to run. By default, or as an option, there should be a consolidated service starter (for the Timeserver, Image Repository, and Director Repository), for example. I should also consider a mode in which tests are run in sequence, with timed gaps, and some explanation splashed on screen.

Separately, the website demo should be integrated a bit more closely

[2017-11-14 21:56] #20 closed, assigned to nobody

[2017-11-15 15:17] awwad opened #149 "Demo: Write demonstration code for additional attacks for the console demo"
## Request for New Functionality

The task is to generate a variety of additional attacks in the Uptane demo, based on the Uptane Design Overview and a few TUF [[1]](https://isis.poly.edu/~jcappos/papers/cappos_mirror_ccs_08.pdf) [[2]](https://isis.poly.edu/~jcappos/papers/samuel_tuf_ccs_2010.pdf) and [Uptane](https://isis.poly.edu/~jcappos/papers/kuppusamy_escar_16.pdf) papers.

- After introduci

[2017-11-28 22:36] awwad opened #150 "Demo code breaks in new Python2 version, 2.7.14, due to XMLRPC changes"
## Bug Report
When running the demonstration code in Python 2.7.14 (released two months ago), the demonstration Secondary fails to parse the timeserver attestation provided it by the demonstration Primary.

The error is below.

[code]

This occurs due to changes made to the `xmlrpc` library in Python 2.7.14. Changelog [here](https://raw.githubusercontent.com/python/cpython/84471935ed2f62b8c5758fd5

[2017-11-28 22:36] awwad commented on #150
This was reported by @aramchandran.

[2017-11-28 22:41] vladimir-v-diaz commented on #150
It might be more helpful to indicate the specific entry in the Python CHANGELOG that is backwards-incompatible.  One option is to quote the specific change here.  Another is to link to a specific line, if possible.

[2017-11-28 22:43] awwad commented on #150
I had the same thought. I'm not sure which of several it was yet. I have a hypothesis, but it'll take some tinkering.

[2017-11-28 23:12] abhi-hacks commented on #150
I found this resource https://stackoverflow.com/questions/11443036/xml-parsing-in-python-expaterror-not-well-formed
Will try this tonight.

[2017-11-29 20:16] awwad commented on #150
PR #151 fixes this.

[2017-12-12 22:23] msyinmei commented on #53
Hi! I'd like to update that I'm currently working on a working example for a basic offline private key demo. It is still a work in progress, but I welcome any input about my methods.

Please see the diff here: https://github.com/uptane/uptane/compare/develop...msyinmei:demo01-53

[2017-12-20 22:17] awwad opened #154 "Debugging ASN1 is very unpleasant"
There are two issues here:
1. Parsing the pyasn1 objects generated by the converter modules in Uptane's TUF fork and Uptane itself is a nightmare.
2. The structure of the ASN1 data doesn't quite match the structure of the JSON data.

This can be simplified substantially.

Part of this complexity is because of the fact that the ASN.1 definition for signed metadata employs a choice of four relativel

[2017-12-20 22:50] awwad commented on #154
I think I should dispose of structure `SignedBody` (see `tuf/encoding/metadata_asn1_definitions.py`, `uptane/encoding/asn1_definitions.py`, `uptane/encoding/asn1_definitions.asn1`).

Current model:
[code]

Better model (matches the structure of JSON metadata and doesn't include a CHOICE()):
[code]

[2018-03-20 15:15] awwad commented on #139
Sorry for not updating the issue: I couldn't seem to reproduce this. I have several Pis here that are running cffi 1.7.0 and cryptography 1.7.2 and running Uptane. You might be having an environment setup issue? Still, it shouldn't hurt for me to update the dependencies to point to more recent versions of both libraries. I'll try that out when I have some cycles.

[2018-03-28 17:18] stylejuya opened #161 "Is this line of code redundant ? this is already called inside of 'create_directory_structure_for_client' method"
https://github.com/uptane/uptane/blob/68e49e12d3a2309a5dceda45af100f1d9064206e/demo/demo_primary.py#L130

[2018-03-28 17:48] awwad commented on #161
I think you're right, yes. (:
Feel free to PR.

[2018-07-05 21:22] JosiahOne commented on #139
BTW, I just tried setting up a new uptane development environment on a (pretty new) Debian VM and hit the same issue. The exact setup script that reproduces this problem looks like:
[code]

Line 10 fails for me with the same error as above.

[2018-07-05 21:36] awwad commented on #139
Thanks for reporting. I'll take a look again.

[2018-07-12 21:38] awwad opened #163 "Remove PyCrypto support"
PyCrypto is long-outdated and we need to remove support for it. TUF (and securesystemslib) has already removed PyCrypto support and uses only [cryptography](https://pypi.org/project/cryptography/) and I need to follow suit here. Ideally, I'd rather merge the TUF codebase first (so that Uptane is no longer using a TUF fork). Currently, that work is being held up by ASN.1 issues.

PyCrypto has secur

[2018-07-23 22:52] awwad commented on #139
Sorry - closing was automatic. Is this resolved for you with the dependency updates?

[2018-07-24 01:15] JosiahOne commented on #139
Yep, works great now! I'll close....

[2018-07-24 01:15] #139 closed, assigned to nobody

[2019-01-28 17:46] awwad commented on #154
This will be resolved by the switch to asn1crypto upcoming for the main TUF repo (theupdateframework/tuf), which Uptane will move to using instead of the forked awwad/tuf.

[2019-01-28 17:46] awwad commented on #163
This will be resolved when Uptane switches to the use of the main TUF repository (theupdateframework/tuf), which dropped pycrypto some time ago.

[2019-03-01 05:41] koruthu opened #168 "Not executing the command in second window"
While executing the commands("ds.clean-slate()") that you written in demo section of window 2, I am getting the following error:
The given ECU is not in this Primary's list of known Secondary ECUs. Register the ECU with this Primary first.">
can you tell me the possible solution. As well which is stable release, and how to build your package effectively?

[2019-03-01 14:57] awwad commented on #168
It looks like you're running the Secondary before running the Primary.  The second window in the demo is the Primary.

<img width="1132" alt="screen shot 2019-03-01 at 09 55 03 4" src="https://user-images.githubusercontent.com/13263928/53646010-2e8e6680-3c08-11e9-8636-368898063b34.png">

[2019-03-03 08:57] JustinCappos opened #169 "Make the ref impl match the standard"
The reference implementation should match the standard and refer to the specific version (and profile) of the standard it implements.

[2019-03-05 12:52] koruthu commented on #168
Hi,
Thanks for your reply @awwad

And we were able to build and run the demo, but I have few questions:

[2019-03-07 18:03] awwad opened #173 "Add timeserver key rotation"
### Motivation
In implementations of Uptane employing a timeserver, the ability to update the timeserver key is required.  Since the reference implementation uses a timeserver, timeserver key rotation is required.

For discussion of timeserver key rotation as a fast-forward attack mitigation, and to see the portions of the Uptane standard dealing with this process, see [uptane-standard PR 41](http

[2019-03-12 08:53] koruthu opened #174 "How to run server and and client(primary & secondary) in two different pc?"
I want to run image repository, director repository, Timeserver, primary and secondary in different different system; how can I do that?
could you help me?

[2019-03-12 16:40] awwad opened #175 "TODO: Add new class of expiration tests using uptuf's time override"
Now that [upTUF PR 22: allow custom override of system clock](https://github.com/awwad/tuf/pull/22) is merged, we should add some integration testing that employs these manually updated times in attacks.  Currently, the manual time override is tested in the Primary and Secondary tests, but there are no integration tests yet that use this feature (for example as an additional way to perform expirat

[2019-03-12 16:57] awwad opened #176 "TODO: Include time override checks in unit tests in Primary and Secondary"
Given the merge of [upTUF PR 22](https://github.com/awwad/tuf/pull/22), some adjustments to testing are merited.  While this code is all covered via higher-level functions, there are more specific tests that should be added:

- [ ] In test_primary and test_secondary, for the unit tests for each module's `validate_time_attestation()` function, check that the TUF time override has been updated appro

[2019-03-12 17:47] JustinCappos commented on #174
Sure, you're free to do this.  In fact, we do this when we run our demos.

What problem are you having when setting this up?

On Tue, Mar 12, 2019 at 5:02 AM koruthu <notifications@github.com> wrote:

[2019-03-12 19:18] awwad commented on #174
Please look through `demo/__init__.py` for the configuration values (IP, etc.) to run the demo on multiple systems and see if it works intuitively for you.  If you run into issues, please let us know.

[2019-03-13 04:43] koruthu commented on #174
Hi Awwad,
Thanks for your solution.
I would like to update primary itself as the same way we are updating secondary. Is there way  to assign image for primary and and update primary itself?

[2019-03-14 06:33] Vikesh0355 opened #177 "How to incerse image size transfer limit"
I am trying to upload the file size which is in gigabyte but when I am doing "dp.update cycle" it is failed with error that upper limits is 5000000 bytes. So I have following queries, could you clarify?
1.  Is there way to upload actual application software to image repository and update primary and      secondary?
2. Is it possible to update primary itself?
3. is it possible to install applicatio

[2019-03-15 14:32] awwad commented on #177
Can you post a copy of the stack trace in the error you're receiving, please?

1. The readme and demonstration code provide a model showing how you could set up a repository (adding image files, writing metadata, and hosting the image files).  See the [Delivering an Update](https://github.com/uptane/uptane#2-delivering-an-update) portion of the demonstration instructions.
That includes the additio

[2019-03-15 14:33] awwad commented on #174
In the current version of the reference implementation, the code in primary.py and demo_primary.py provides the code to handle acquisition, verification, and distribution of metadata and images, and the code in secondary.py and demo_secondary.py provides the code to handle verification for individual ECUs.  Your Primary should run both in order to both serve as a distribution hub and update itself

[2019-03-15 14:34] awwad commented on #168
See #174.

[2019-03-15 14:34] #168 closed, assigned to nobody

[2019-03-15 15:21] awwad commented on #14
I've decided to pull much of `primary.py` and `secondary.py` out into a new `client.py` module, and to have `primary.py` and `secondary.py` use that.  When I do that, I will also enable `primary.py` to update the Primary itself, as a call one can make after the Primary's update cycle.

In fact, that would actually be a decent task for a student, perhaps....  It's pretty self-contained. 😄

[2019-03-19 07:29] Vikesh0355 commented on #177
Thank for your support!
Could you clarify question number 2 and 3 that I have written on top of this loop?

[2019-04-01 19:12] #174 closed, assigned to nobody

[2019-04-02 09:19] Vikesh0355 opened #183 "How to run demo in windows system"
I have the following queries:
1. I want to run Demo package in windows system is it possible to run in windows system?
2. How to deploy your demo package in Raspberry Pi?
could you help me?

[2019-04-02 12:20] sreekang commented on #183
Please help me in resolving this related issue - [ModuleNotFoundError: No module named 'tuf.conf'](https://github.com/theupdateframework/tuf/issues/845)

[2019-04-02 14:32] awwad commented on #183
@Vikesh0355:
1. The demo/ code is intended for Linux/BSD/OSX/etc.  You'll probably run into at least some minor issues you'd have to debug if you want to run the demo on Windows.  It's likely that the older TUF code this implementation currently uses has some minor Windows compatibility issues, too.
2. It should all run on Raspbian the same way it does on other Linux systems.  Have you run into an

[2019-04-02 15:12] sreekang commented on #183
@awwad : I couldnt resolved the tuf issue yet. My last observation is [here](https://github.com/theupdateframework/tuf/issues/845#issuecomment-479040856)

Please help

[2019-04-03 09:51] sreekang opened #184 "Porting Demo in Windows | Dependencies installation issue"
I am facing issues with pycrypto installation.

Here is the console log:
[code]

[2019-04-03 10:05] sreekang commented on #184
Installed pycrypto using Binary installation setup from voidspace.
Here is the link for [pycrpto 2.6.1](http://www.voidspace.org.uk/python/pycrypto-2.6.1/pycrypto-2.6.1.win-amd64-py3.4.msi)

Version Verification:
[code]
Is this method is fine?

[2019-04-03 10:09] sreekang commented on #184
To make sure the requirements are satisfied, I have executed the installation command again as follows;

[code]

[2019-04-03 10:12] sreekang commented on #184
When i tried to run the server, i am getting tuf.conf issue.

[code]

Is this issue is related to tuf or pycrypto installation method?

[2019-04-11 06:52] Vikesh0355 opened #185 "Want to Update primary also like seconday"
I want to update the firmware of primary also like the secondary is being updated. How can I do that?

[2019-05-09 15:14] tanishqjasoria opened #186 "Banner printing part in the demo does not work in all the python console!"
The part in the demo where it prints various banners does not work in all the python consoles. It works on bash, most of the time(Does not work when you reduce the window size!).
Here is a screenshot of the error while running on the console of PyCharm!
![Screenshot from 2019-05-09 10-55-36](https://user-images.githubusercontent.com/11698398/57464887-27847400-729b-11e9-98dd-2ac5d086a0ca.png)

[2019-05-13 15:52] #150 closed, assigned to awwad

[2019-06-06 09:51] Vikesh0355 opened #193 "Terminate the Delegate"
As it is mentioned in the IEEE-ISTO  standard documents
"Delegations SHOULD NOT be terminating by default; terminating delegations SHOULD only be used when there is a compelling technical reason to do so"

But it is not clear to me that how to terminate the delegate. could  you help me?

## Bug Report

### Problem Summary

### Expected Behavior

### Actual Behavior

## Request for New Functionalit

[2019-07-16 14:22] deepthi-lnt opened #197 "Dependency issues when compiling on jacinto6 plus board"
I am running the command
onhosted.orgevm:~/uptane# pip3 install --force-reinstall -r dev-requirements.txt --trusted-host pypi.org --trusted-host files.pythonhosted.org

The log is as below with pynacl failure please let me know how to sort it

Obtaining file:///home/root/uptane (from -r dev-requirements.txt (line 8))
Collecting canonicaljson==1.1.4 (from -r dev-requirements.txt (line 1))
  Downloa

[2019-07-26 17:54] mnm678 opened #198 "Implement must match section for custom metadata"
## Request for New Functionality

### Description of the Desired Feature / Behavior
The Uptane Standard describes an optional [must match field](https://uptane.github.io/uptane-standard/uptane-standard.html#custom-metadata-about-images) in the custom field of Targets metadata that must match on the Director and Image repositories. This section would include the release counter and hardware id. Thi

[2019-08-14 10:24] yashpatel001 opened #199 "Failed to update timestamp.json from all mirrors"
I am trying to run server and primary on one system and secondary on other system.
When I run ds.update_cycle() am getting the following error:

Submitting a request for a signed time to the Timeserver.
Time attestation validated. New time registered.

 Now updating top-level metadata from the Director and Image Repositories
    (timestamp, snapshot, root, targets)

[2019.08.14 10:23:07UTC] [prima

[2019-08-14 14:28] lukpueh commented on #199
Please try to fix the mirror URL as the error message suggests, that is change
`192.168.60.111:30401` to e.g. `http://192.168.60.111:30401`

[2019-08-22 03:34] RameshRex commented on #199
We are facing same issue/ error when Server is on PC and Primary is on a board.
But when Server and PC are on board , there is no issue . Everything is smooth.

_### _Failed to update timestamp.json from all mirrors: {'192.168.60.111:30401/democar/metadata/timestamp.json': FormatError("'192.168.60.111:30401/democar/metadata/timestamp.json' specifies an unsupported URI scheme. Supported URI Schemes

[2019-08-22 15:38] JustinCappos commented on #199
Can you communicate with a webserver on the PC?  Any idea where the problem
is happening?  Did you try wireshark or similar to see where the issue is?

(This feels like a network / PC setup issue, but we're happy to help.)

On Wed, Aug 21, 2019 at 11:34 PM RameshRex <notifications@github.com> wrote:

[2019-11-28 12:28] dcs2020 opened #200 "Not able to run server and primary on different systems"
Hi,
I am running Server on desktop and running  Primary on another system, for the setup in demo/_init.py  file I have modified LOCAL with ip address of server  and in demo/pinned_primary_template.json  file I am modifiying local host with IP address of server but primary is not able to connect to server i am getting error as below:

Primary is now listening for messages from Secondaries.
Register

[2019-11-28 16:07] JustinCappos commented on #200
Are you actually able to connect between the systems yourself with netcat
or similar?  Do you have a host firewall on a system or anything else that
may block communication?

On Thu, Nov 28, 2019 at 7:28 AM dcs2020 <notifications@github.com> wrote:

[2019-11-29 06:18] dcs2020 commented on #200
Hi Justin,

Thank you for the respone.

Are you actually able to connect between the systems yourself with netcat or similar?
Yes, I am able to ping from one system to another through ssh and ping commands but connection is not happening between server and primary.

Do you have a host firewall on a system or anything else that may block communication?
No, I dont have any firewall I am using open a

[2019-11-29 16:34] JustinCappos commented on #200
The Uptane repository is just a web server.  Can you connect to it that way
to test?

On Fri, Nov 29, 2019 at 1:18 AM dcs2020 <notifications@github.com> wrote:

[2019-12-02 13:54] dcs2020 commented on #200
Hi Justin,

I tried to connect it through nc command but it is not able to connect.

Thank you,
Deepthi

[2019-12-02 15:26] JustinCappos commented on #200
Okay, if you can't connect through nc, then it is a problem with your
network setup, not a problem with the Uptane code.  You likely have some
iptables rules, firewall rules, etc. in place that are blocking HTTP
traffic.

I'm not sure what to tell you except you'll need to fix this before being
able to get Uptane to run.  I'd recommend just getting a basic HTTP server
/ client setup working first

[2019-12-06 10:13] dcs2020 commented on #4
Hi awwad,

I am running Local, Multiple Systems means server on my pc  primary on the embedded board by disabling the secondary.

On the primary in demo/__init.py  I have changed local host to IP of server and in  demo/pinned_primary_template.json, replaced 'localhost' with the server ip but connection is not happening I am establishing the root of trust please suggest me how to proceed.

Thank yo

[2020-01-20 09:44] lukpueh commented on #4
Hi @dcs2020, have you been able to resolve the connection issues? Let me know how I can help.

[2020-07-23 17:22] mahmo136 opened #202 "Primary client directory structure building fails when METADATA_FORMAT is changed to 'json' from 'der' tuf.conf.METADATA_FORMAT = 'json'"
## Problem Summary
Primary client directory structure building process fails when METADATA_FORMAT is changed to 'json' from 'der'  in the uptane/__init__.py (tuf.conf.METADATA_FORMAT = 'json' )

Reading the documentation and source code, it seems like demo directory is expected to contain "pinned_primary_template.json" file, which does not exist.

When try to initialize the Primary client by using

[2020-11-02 11:38] rohitalate opened #204 "Regarding the reinstallation of the dependencies"
Hello Team,

Currently I am tiring to understand the Uptane framework. I am able to run the DEMO successfully with the help of your README file.
thanks for the keeping it more easy to understand document.
But I am not able to understand why we need to reinstall the dependencies even if I just update print statement in the code.
 **pip install --force-reinstall -r dev-requirements.txt**

So I am ne

[2020-11-02 11:40] lukpueh commented on #204
Based on [the docs](https://github.com/uptane/uptane/blame/13e8b8ca4a990c6b94eb39ce0812e59b128f2f75/README.md#L68-L69), I would say that without `--force-reinstall` any updates in @awwad's uptane-tailored [tuf fork](https://github.com/uptane/uptane/blob/13e8b8ca4a990c6b94eb39ce0812e59b128f2f75/dev-requirements.txt#L7) wouldn't get pulled in, if tuf was already installed.

[2020-11-03 05:35] rohitalate commented on #204
Hello lukpueh,

Thanks for your quick response. I got the idea
But if possible can you please elaborate more. why it is required each time.
ex : if I update just print statement in the code . then again I need to reinstall the dev-requirements. why its mandatory ?

[2020-11-03 11:18] lukpueh commented on #204
ex : if I update just print statement in the code . then again I need to reinstall the dev-requirements. why its mandatory ?

No no, that's not necessary. :) You only need to use `--force-reinstall` if you want to update dependencies in `dev-requirements.txt`, more specifically the `awwad/tuf` dependency.

Note that this is only a crutch during development, as long as `awwad/tuf` is being installe

[2020-11-23 06:55] trishankatdatadog opened #205 "Should we archive this repo?"
Should we mark this repository as archived? It has long since not seen active development, and is probably not the best reference implementation for various reasons.

[2020-11-23 09:11] lukpueh commented on #205
True. It also pins some outdated dependencies and a stale TUF fork hosted by @awwad.

Can't tell. Do you have any particular reasons in mind? The demo instructions seem quite elaborate to me.

I think we should. As per the [GitHub docs on archiving](https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-archiving-repositories) the repo will remain

[2020-11-23 10:02] JustinCappos commented on #205
I'm supportive of this.

On Mon, Nov 23, 2020 at 5:12 PM lukpueh <notifications@github.com> wrote:

[2020-11-23 16:52] mnm678 commented on #205
I agree. This repo is probably already missing newer changes to Uptane, so achiving it will make it more clear that this is an implementation of an older version of the standard.

[2020-11-24 15:05] lukpueh commented on #205
See https://github.com/uptane/uptane/pull/206 for the mentioned README patch.